<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1-dist/css/bootstrap-grid">
    <link rel="stylesheet" type="text/css" href="/static/content.css">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/a11y-dark.min.css" rel="stylesheet">
    <link href="https://qinmaye.top/usr/themes/Adams/style/style.css" type="text/css" rel="stylesheet">
    <link href="https://qinmaye.top/usr/themes/Adams/static/caomei1.2.8/style.css" type="text/css" rel="stylesheet">
    <link href="https://qinmaye.top/usr/themes/Adams/style/wpBlockLib.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:300|Noto+Serif+SC:300&amp;display=swap" rel="stylesheet">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://qinmaye.top/action/xmlrpc?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://qinmaye.top/action/xmlrpc?wlw">
    <link href="//cdn.bootcss.com/KaTeX/0.10.0/katex.min.css" rel="stylesheet">
    <title>{{article.title}}|胖鸡闲址</title>

</head>
<body>
    <header class="header">
    <section class="mycontainer">
      <hgroup itemscope="" itemtype="https://schema.org/WPHeader">
        <h1 class="fullname">
            {{ article.title }}
        </h1>
      </hgroup>
      <nav class="social">
		    <ul id="menu-socialx" class="menu">
		      <li id="menu-item-4831" class="czs-rss menu-item menu-item-type-custom menu-item-object-custom">
            <a title="RSS" target="_blank" href="http://127.0.0.1:8000/index/info">RSS</a></li>
          <li id="menu-item-4832" class="czs-github-logo menu-item menu-item-type-custom menu-item-object-custom">
            <a title="GitHub" target="_blank" href="https://github.com/Davidyin1">GitHub</a></li>
        </ul>
		  </nav>
      <nav class="header_nav">
		    <ul id="menu-header" class="menu">
		      <li id="menu-item-4759" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-4759">
            <a href="https://www.wywnb.xyz/content/content" aria-current="page">
              首页
            </a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="" title="关于">关于</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="" title="朋友们">朋友们</a></li>
        </ul>
		  </nav>
    </section>
    <section class="infos">
        <div class="container">
            <h2 class="fixed-title"></h2>
            <!--<div class="fixed-menus"></div>-->
            <div class="fields">
                <span><i class="czs-time-l"></i> {{article.createtime}}</span> / 
                <span><i class="czs-talk-l"></i> 评论{{article.commitnum}}条</span>
            </div>
            <div class="socials">
            </div>
            </div>
    </section>
    </header>
    <section class="container main-load">
        <article class="post_article" itemscope="" itemtype="https://schema.org/Article">
            {{article.content|safe}}
        </article>
        <nav class="nearbypost">
            <div class="alignleft"><a id="pre1" href={{pre.url}} title={{pre.title}}>{{pre.title}}</a></div>
            <div class="alignright"><a id="after1" href={{after.url}} title={{after.title}}>{{after.title}}</a></div>
        </nav>
    </section>
    <footer class="footer">
	  <section class="container">
        <span id="hitokoto"> 遇不可说之事，必须保持沉默。</span>
        <p>
            <span class="left">© 2020                <a href="https://www.wywnb.xyz/content/content">胖鸡闲扯</a>
            <span class="right"> Theme by <a href="https://biji.io" target="_blank">Adams</a></span>
        </span></p>
	  <p>
		<a href="http://beian.miit.gov.cn">苏ICP备19040829号-2</a>
	  </p>
	</section>
</footer>
</body>
</html>