<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <meta charset="utf-8">
  <link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/a11y-dark.min.css" rel="stylesheet">
  <link href="https://qinmaye.top/usr/themes/Adams/style/style.css" type="text/css" rel="stylesheet">
  <link href="https://qinmaye.top/usr/themes/Adams/static/caomei1.2.8/style.css" type="text/css" rel="stylesheet">
  <link href="https://qinmaye.top/usr/themes/Adams/style/wpBlockLib.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:300|Noto+Serif+SC:300&amp;display=swap" rel="stylesheet">
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://qinmaye.top/action/xmlrpc?rsd">
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://qinmaye.top/action/xmlrpc?wlw">
  <link href="//cdn.bootcss.com/KaTeX/0.10.0/katex.min.css" rel="stylesheet">
  <title>Title</title>
</head>
<body>
<div>
    <div class="bg bg-blur"></div>
    <a class="content content-front" href="http://www.wywnb.xyz/content/content">{{hello}}</a>
</div>
<footer class="footer">
	  <section class="container">
        <span id="hitokoto"> 遇不可说之事，必须保持沉默。</span>
        <p>
            <span class="left">© 2020                <a href="https://www.wywnb.xyz/content/content">胖鸡闲扯</a>
            <span class="right"> Theme by <a href="https://biji.io" target="_blank">Adams</a></span>
        </span></p>
	  <p>
		<a href="http://beian.miit.gov.cn">苏ICP备19040829号-2</a>
	  </p>
</body>
</html>